<%- include('../layouts/admin/header.ejs') %>
<div class="main-panel">
  <div class="content-wrapper">

<div class="col-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Add New Category</h4>
          <!-- <p class="card-description"> Basic form elements </p> -->
          <hr class="white-line">
          <form class="forms-sample" action="/admin/addCategory" method="post">
            <h3 class="card-title">Add New Category</h3>
              <div class="form-group  row">
                  <div class="col-12 col-md-9 mt-2">
                      <label for="exampleInputName1">Category Name</label>
                      <input type="text" class="form-control  text-light mb-3 " name="category_name"
                          id="exampleInputName1" placeholder="name" required>
                        <label for="exampleInputName1">Category Description</label>
                      <input type="text" class="form-control  text-light " name="category_description"
                          id="exampleInputDescription" placeholder="Description" required style="height: 100px;">
                      <button type="submit" class="btn btn-lg btn-inverse-primary mr-2 mt-5">Add
                          Category</button>
                  </div>

              </div>

          </form>

      </div>
  </div>
</div>


</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<footer class="footer">

</footer>
<!-- partial -->
</div>
<%- include('../layouts/admin/footer.ejs') %>

