
<!-- cartAlert -->

<div id="cartAlert" data-aos="fade-up" class="alert col-md-3 col-4 text-white fixed-bottom" style="display: none; left: 40%; bottom: 80px; border-radius: 7px; opacity: 0.9; background-color: rgb(85, 85, 85);" role="alert">
    <div class="d-flex justify-content-center">
        <dotlottie-player src="https://lottie.host/b0e85bf2-581b-4d27-8dd5-0c0e4b495dc2/QjXQ7zZA3T.json" background="transparent" speed="0.7" style="width: 50px; height: 50px;" direction="1" loop autoplay></dotlottie-player>
        <p class="alert-heading d-flex align-items-center">Product Added to Your Cart</p>
    </div>
  </div>
  
  <div id="cartAlertAlready" data-aos="fade-up" class="bg-dark alert col-md-3 col-4 text-white fixed-bottom" style="display: none; left: 40%; bottom: 80px; border-radius: 7px; ; " role="alert">
    <div class="d-flex justify-content-center">
        <dotlottie-player src="https://lottie.host/675b522a-b663-4399-9a90-0f4800918a0f/JWak9AXJkj.json" background="transparent" speed="1" style="width: 50px; height: 50px;" direction="1" loop autoplay></dotlottie-player>
        <p class="alert-heading d-flex align-items-center " >This product Already in Your Cart</p>
    </div>
  </div>


  
<!-- wishalret -->
<div id="wishAlert" data-aos="fade-up" class="alert col-md-3 col-4 text-white fixed-bottom" style="display: none; left: 40%; bottom: 80px; border-radius: 7px; opacity: 0.9; background-color: rgb(85, 85, 85);" role="alert">
    <div class="d-flex justify-content-center">
        <dotlottie-player src="/public/userAssets/assets/icon-lot/wishlist3.lottie" background="transparent" speed="0.6" style="width: 80px; height: 80px;" direction="1" loop autoplay></dotlottie-player>
        <p class="alert-heading d-flex align-items-center">Product Added to Your Wishlist</p>
    </div>
</div>
<div id="wishAlertAlready" data-aos="fade-up" class="bg-dark alert col-md-3 col-4 text-white fixed-bottom" style="display: none; left: 40%; bottom: 80px; border-radius: 7px; ; " role="alert">
    <div class="d-flex justify-content-center">
        <dotlottie-player src="/public/userAssets/assets/icon-lot/alreadyWish.lottie" background="transparent" speed="1" style="width: 80px; height: 80px;" direction="1" loop autoplay></dotlottie-player>
        <p class="alert-heading d-flex align-items-center " >This product Already in Your Wishlist</p>
    </div>
</div>
<div id="noStockAlert" data-aos="fade-up" class="bg-dark alert col-md-3 col-4 text-white fixed-bottom" style="display: none; left: 40%; bottom: 80px; border-radius: 7px; ; " role="alert">
    <div class="d-flex justify-content-center">
        <dotlottie-player src="/public/userAssets/assets/icon-lot/outofstock.lottie" background="transparent" speed="0.7" style="width: 90px; height: 90px;" direction="1" loop autoplay></dotlottie-player>
        <p class="alert-heading d-flex align-items-center " >No Stock Avilable</p>
    </div>
</div>


  <!-- lottie Script -->

  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js'></script>
  <script>
      var animation = bodymovin.loadAnimation({
          container: document.getElementById('animContainer'),
          renderer: 'svg',
          loop: true,
          autoplay: true,
          path: 'https://lottie.host/87abf9d2-a834-4f06-b667-26985786b0ba/0vh9JAhgi8.json' // lottie file path
      })
  </script>

<footer class="footer footer-dark">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3"> 
                    <div class="widget widget-about">
                        <img src="/public/userAssets/assets/images/BRAND KICKS! white.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Brand Kicks: Your Destination for Stylish Shoes and Accessories – Step Up Your Fashion Game with Our Exclusive Collection!</p>

                        <div class="social-icons">
                            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/aboutus">About Brand Kicks</a></li>
                            <li><a href="/aboutus">How to shop on Brand Kicks</a></li>
                            <li><a href="/contact">FAQ</a></li>
                            <li><a href="/contact">Contact us</a></li>
                            <li><a href="/login">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/aboutus">Payment Methods</a></li>
                            <li><a href="/aboutus">Money-back guarantee!</a></li>
                            <li><a href="/profile/orders">Returns</a></li>
                            <li><a href="/profile/orders">Shipping</a></li>
                            <li><a href="/aboutus">Terms and conditions</a></li>
                            <li><a href="/aboutus">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/login">Sign In</a></li>
                            <li><a href="/cart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/profile/orders">Track My Order</a></li>
                            <li><a href="/contact">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2019 Brand Kicks!. All Rights Reserved.</p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="/public/userAssets/assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
<div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="key" id="q" placeholder="Search in..." required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
    </form>
  
    
    <nav class="mobile-nav">
        <ul class="mobile-menu">
            <li class="active">
                <a href="/">Home</a>

                
            </li>
            <li>
                <a href="/shop">Shop</a>
                
            </li>
            <li>
                <a href="/profile">My account</a>
                
            </li>
             <li>
                <a href="/profile/wallet">Your Wallet</a>
            </li>
            <li>
                <a href="/profile/orders">Your orders</a>
                
            </li>
            <li>
                <a href="/contact" class="sf-with-ul">Contact Us</a>
                
            </li>
            <li>
                <a href="/aboutus">About us</a>
                
            </li>
           
        </ul>
    </nav><!-- End .mobile-nav -->

    <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
    </div><!-- End .social-icons -->
</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Plugins JS File -->

     <!-- ajaxScript -->

     <script src="/public/userAssets/assets/js/ajaxScript.js"></script>
  
  <!-- Plugins JS File -->
<script src="/public/userAssets/assets/js/jquery.min.js"></script>
<script src="/public/userAssets/assets/js/bootstrap.bundle.min.js"></script>
<script src="/public/userAssets/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/public/userAssets/assets/js/jquery.waypoints.min.js"></script>
<script src="/public/userAssets/assets/js/superfish.min.js"></script>
<script src="/public/userAssets/assets/js/jquery.elevateZoom.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script src="/public/userAssets/assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="/public/userAssets/assets/js/main.js"></script>    

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    AOS.init();
</script>
<script>
    function confirmSignOut() {
        swal({
            title: "Are you sure?",
            text: "You are about to sign out.",
            icon: "warning",
            buttons: ["Cancel", "Sign Out"],
            dangerMode: true,
        }).then((willSignOut) => {
            if (willSignOut) {
                // Redirect to the sign-out URL
                window.location.href = "/logout";
            }
        });
    }
    </script>  
</body>



</html>