<%- include('../layouts/user/header.ejs') -%>
<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About us</li>
          </ol>
      </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->
  <div class="container">
  <div class="page-header page-header-big text-center" style="background-image: url('/public/userAssets/hermes-rivera-OX_en7CXMj4-unsplash.jpg')">
    <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
  </div><!-- End .page-header -->
  </div><!-- End .container -->

  <div class="page-content pb-0">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 mb-3 mb-lg-0">
                  <h2 class="title">Our Vision</h2><!-- End .title -->
                  <p>At Brand Kicks, we envision a world where stylish and comfortable footwear is within reach for everyone, regardless of their budget. We believe that shoes are more than just accessories; Our vision is to break down the barriers that limit access to quality footwear, empowering people </p>
              </div><!-- End .col-lg-6 -->
              
              <div class="col-lg-6">
                  <h2 class="title">Our Mission</h2><!-- End .title -->
                  <p>At Brand Kicks, our mission is to provide high-quality, budget-friendly shoes that reflect the latest trends and ensure all our customers can express their unique style. We're committed to offering exceptional value, superior comfort, and a wide range of choices for every walk of life</p>
              </div><!-- End .col-lg-6 -->
          </div><!-- End .row -->

          <div class="mb-5"></div><!-- End .mb-4 -->
      </div><!-- End .container -->



      <div class="container">
          <div class="row">
              <div class="col-lg-5">
                  <div class="brands-text ">
                      <h2 class="title " >The world's premium design brands in one destination.</h2><!-- End .title -->
                      <p>At Brand Kicks, we unite the world's elite design brands in a single destination. Explore an exclusive selection of premium products that epitomize style, quality, and innovation. Experience a new level of online shopping, where sophistication meets convenience.</p>
                  </div><!-- End .brands-text -->
              </div><!-- End .col-lg-5 -->
              <div class="col-lg-7">
                  <div class="brands-display">
                      <div class="row justify-content-center">
                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/adidas.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->

                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/nike.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->

                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/nb.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->

                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/puma.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->

                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/asics.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->

                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/nbb.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->

                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/adidsog.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->

                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/convers.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->

                          <div class="col-3 col-sm-2">
                              <a href="#" class="brand">
                                  <img src="/public/userAssets/logos/jordan.JPG" alt="Brand Name">
                              </a>
                          </div><!-- End .col-sm-4 -->
                      </div><!-- End .row -->
                  </div><!-- End .brands-display -->
              </div><!-- End .col-lg-7 -->
          </div><!-- End .row -->

          <hr class="mt-4 mb-6">

          
      <div class="mb-2"></div><!-- End .mb-2 -->

      <div class="about-testimonials bg-light-2 pt-6 pb-6">
          <div class="container">
              <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

              
                  <blockquote class="testimonial text-center">
                      <img src="/public/userAssets/assets/images/testimonials/user-1.jpg" alt="user">
                      <p>“ Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque aliquet nibh nec urna. <br>In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. ”</p>
                      <cite>
                          Jenson Gregory
                          <span>Customer</span>
                      </cite>
                  </blockquote><!-- End .testimonial -->

                  <blockquote class="testimonial text-center">
                      <img src="/public/userAssets/assets/images/testimonials/user-2.jpg" alt="user">
                      <p>“ Impedit, ratione sequi, sunt incidunt magnam et. Delectus obcaecati optio eius error libero perferendis nesciunt atque dolores magni recusandae! Doloremque quidem error eum quis similique doloribus natus qui ut ipsum.Velit quos ipsa exercitationem, vel unde obcaecati impedit eveniet non. ”</p>

                      <cite>
                          Victoria Ventura
                          <span>Customer</span>
                      </cite>
                  </blockquote><!-- End .testimonial -->
              </div><!-- End .testimonials-slider owl-carousel -->
          </div><!-- End .container -->
      </div><!-- End .bg-light-2 pt-5 pb-6 -->
  </div><!-- End .page-content -->
</main><!-- End .main -->
<%- include('../layouts/user/footer.ejs') -%>
