<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brand Kicks! Step into Style with Confidence</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Brand Kicks! ">
    <meta name="author" content="shabil">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/userAssets/assets/images/BRAND KICKS! white.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/userAssets/assets/images/BRAND KICKS! white.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/userAssets/assets/images/BRAND KICKS! white.png">
    <link rel="manifest" href="/public/userAssets/assets/images/icons/site.html">
    <link rel="mask-icon" href="/public/userAssets/assets/images/BRAND KICKS! black.png" color="#666666">
    <link rel="shortcut icon" href="/public/userAssets/assets/images/BRAND KICKS! white.png">
    <meta name="apple-mobile-web-app-title" content="Brand Kicks!">
    <meta name="application-name" content="Brand Kicks!">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/public/userAssets/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/public/userAssets/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/public/userAssets/assets/css/style.css">
</head>
<body>
<main class="main">
   
    <img src="/public/userAssets/assets/images/BRAND KICKS! white.png" class="md-5" style="height: 60px; position: absolute; top: 20px; left: 20px;" alt="">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/public/userAssets/assets/images/backgrounds/shoes-login.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#" role="tab" >Sign Up</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                            <form action="" method="post" novalidate>
                                <% if (typeof message !== 'undefined') { %>
                                    <p style="color: red; font-size: 19px; font-weight: 300;">
                                      <%= message %>
                                    </p>
                                    <% } %>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">

                                    <label for="register-email-2">First Name*</label>
                                    <input type="text" class="form-control" id="register-firstName" name="firstName" required>
                                    </div>
                                        <div class="col-md-6">
                                    <label for="register-email-2">Second Name*</label>
                                    <input type="text" class="form-control" id="register-secondName" name="secondName" required>
                                    </div>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-email-2">email address *</label>
                                    <input type="email" class="form-control" id="register-email-2" name="email" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-mobile">Mobile No:  *</label>
                                    <input type="tel" class="form-control" id="register-email-2" name="mobile" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-password-2">Password *</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="register-password-2">Confirm Password *</label>
                                    <input type="password" class="form-control" id="cpassword" name="cpassword" pattern="^[^\s]+(\s+[^\s]+)*$" title="Passwords must match" required>
                                    <div id="password-mismatch" class="alert alert-danger mt-2" style="display: none;">
                                        Passwords do not match. Please try again.
                                      </div> 
                    
                                </div><!-- End .form-group -->

                                <!-- <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password" id="cpassword" pattern="^[^\s]+(\s+[^\s]+)*$" title="Passwords must match" required>
                <div id="password-mismatch" class="alert alert-danger mt-2" style="display: none;">
                    Passwords do not match. Please try again.
                  </div> -->


                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SIGN UP</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <!-- <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                        <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
                                    </div>End .custom-checkbox -->
                                </div><!-- End .form-footer -->
                                <div id="component" class="container-fluid py-3 text-center">
                                    <p class=" m-0 px-3 py-2">
                                        <span class="text-secondary fs-6 fw-normal font-family-Poppins">
                                        Already Have An Account?
                                        </span>
                                        <a class="text-black fs-6 fw-normal font-family-Poppins text-decoration-underline" href="/login">
                                        Login
                                        </a>
                                    </p>
                                </div>
                            </form>
                            
                        </div><!-- .End .tab-pane -->
                            </form> 
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->

<%- include('../layouts/user/footer.ejs') -%>
