</div>
<!-- page-body-wrapper ends -->
</div>



<!-- container-scroller -->
<!-- plugins:js -->
<script src="/public/adminAssets/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/public/adminAssets/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/public/adminAssets/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/public/adminAssets/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/public/adminAssets/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/public/adminAssets/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/public/adminAssets/assets/js/off-canvas.js"></script>
<script src="/public/adminAssets/assets/js/hoverable-collapse.js"></script>
<script src="/public/adminAssets/assets/js/misc.js"></script>
<script src="/public/adminAssets/assets/js/settings.js"></script>
<script src="/public/adminAssets/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/public/adminAssets/assets/js/dashboard.js"></script>
<!-- End custom js for this page -->
</body>
</html>